* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ca0000fb;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}

@keyframes s2 {
  to {
    transform: rotate(1turn);
  }
}

#preloader.hidden {
  display: none;
}

.custom-loader {
  width:50px;
  height:50px;
  border-radius:50%;
  border:8px solid;
  border-color:#ffffff;
  border-right-color: #FFC800;
  animation:s2 1s infinite linear;
}
@keyframes s2 {to{transform: rotate(1turn)}}

body {
  background-image: url(/assets/img/Wallpaper\ computadores.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

#logo {
  width: 13vh;
  margin-left: 1vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.menu-items {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  margin-top: 1.5vh;
  justify-content: center;
  flex-grow: 1;
  gap: 70px;
}

h2 {
  font-size: 5vh;
  margin: 0;
  color: white;
}

#inicial {
  text-decoration: underline;
}

#contato {
  background-color: #ffc800;
  border-radius: 20px;
  padding: 0px 5px;
}

a {
  text-decoration: none;
  color: white;
}

#textoInicial {
  font-family: "Jockey One", sans-serif;
  font-style: normal;
  padding-top: 10vh;
  font-size: 7vh;
  padding-left: 10vh;
  color: white;
  filter: drop-shadow(9px 1px 2px rgba(0, 0, 0, 0.541));
}

.main {
  display: flex;
  justify-content: space-between;
}

#hamburguer {
  margin-top: 38px;
  margin-right: 20px;
  width: 55vh;
  background-color: #ffc800;
  border-radius: 3px;
  position: relative;
  box-shadow: 6px 0px 9px -4px rgba(19, 19, 19, 0.623);
}

@media (max-width: 450px) {

  body {
    background-image: url(/assets/img/Wallpaper\ computadores.png);
    background-repeat: no-repeat;
    background-size: 100em 100em;
    background-attachment: fixed;
  }

  #logo {
    width: 10vh;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
  }

  .menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  #contato {
    padding: 0px 5px;
  }

  .menu-items h2:nth-child(1),
  .menu-items h2:nth-child(2) {
    width: 48%; 
  }

  .menu-items h2:nth-child(3) {
    width: 100%;
  }

  h2 {
    font-size: 4vh;
    text-align: center; 
  }

  #textoInicial {
    padding-top: 1em;
    font-size: 1.6em;
    padding-left: 0.5em;
  }

  .main {
    flex-direction: column;
    align-items: center; 
    gap: 20px; 
  }

  #hamburguer {
    top: 10px;
    margin: 0 auto;
    width: 17em;
    background-color: #ffc805;
    border-radius: 3px;
    box-shadow: 6px 0px 9px -4px rgba(19, 19, 19, 0.623);
  }
}
