* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/assets/img/tela\ de\ fundo\,\ tela\ inicial.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

#logo {
  width: 14vh;
  filter: drop-shadow(1px 2px 3px rgb(31, 31, 31));
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.menu-items {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 40px;
}

h2 {
  font-size: 5vh;
  margin: 0;
  color: white;
}

#inicial {
  text-decoration: underline;
}

#contato {
  background-color: #FFC805;  
  border-radius: 20px;
  padding: 0px 13px 0px 10px;
}

a {
    text-decoration: none;
    color: white;
}

#textoInicial {
    padding-top: 20vh;
    font-size: 6vh;
    padding-left: 10vh;
    color: white;
}

@media (max-width: 768px) {
  #logo {
    width: 10vh;
  }

  .navbar {
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  .menu-items {
    flex-direction: column;
    gap: 20px;
  }

  h2 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  #logo {
    width: 10vh;
  }

  .menu-items {
    flex-direction: row;
    padding-top: 10px;
    gap: 15px;
  }

  h2 {
    font-size: 25px;
  }
}
